/* ||General Styles|| */
/* get fonts */
@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Geom:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
/* variables */
:root{
    /*colors*/
    --body-bg: #522258;
    --sub-bg: #8C3061;
    --text-cl: #D95F59;
    --button-bg: #C63C51;
    /*fonts*/
    --heading-font: 'Cause', sans-serif;
    --text-font: 'Geom', sans-serif;
}

body {
    background-color: var(--body-bg);
    
}
#container{
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 4rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

/* ||Responsive design|| */
@media (max-width: 480px){
    #container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}